*{
    padding: 0;
    margin: 0;

}
:root {
    --main-color: #CAA688
    
}
nav{
    position: fixed;
    width: 100%;
    height: 67px;
    left: 0px;
    top: 0px;
    background: var(--main-color);
}
.navigator{
    display: flex;
    margin : auto;
    align-items: center;
    height: 100%;

}
.navigator ul{
    display: flex;
    flex-direction: row;
    width: 625px;
    justify-content: space-between;
    margin-right: 50px;
}
.logo {
    margin-left: 40px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: white;
}
.nav{
    margin-left: auto;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1fr;
    font-weight: 500;
}

.inicio{
    width: 100%;
    height: 100vh;
    background: url(./img/fondo\ header\ 1.png) top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.inicioGrupo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto 0;
}
h1{
    font-family: Raleway;
    font-weight: 400;
    font-size: 72px;
    line-height: 15px;
    color: #FFFFFF;
    
}
.parrafoInicio{
    width: 70em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: white;
}

.botonesInicio{
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 25%;
    justify-content: space-between;
}
.botonUno{
    border: white 3px solid;
    width: 137px;
    height: 55px;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.botonUno a{
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 0;
    color: white;
}
.botonDos{
    border: white 3px solid;
    width: 137px;
    height: 55px;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--main-color);
}
.botonDos a{
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 0;
    color: white;
}
.servicio{
    margin: 0 auto; 
    margin-top: 54px;
    border: black 1px solid;
    width: 75%;
    height: 500px;
    align-items: center;
    justify-content: center;
}
.servicioTitulo{
    font-family: Raleway;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    
}